dash==0.36.0
dash-html-components==0.13.4
dash-core-components==0.43.0
dash-renderer==0.17.0
selenium
pytest
requests
flask
percy
waitress
pylint
flake8
sphinx
yapf
ruamel.yaml
lark-parser
Flask-Sphinx-Themes
m2r
pytest-cov
